:root {
  /* colors */
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;

  
  /* font */
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

body {
  min-height: 100vh;
}

#root {
  min-width: 100%;
  min-height: 450px;

  /* background image */
  background-image: url("./assets/images/image-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}